@import './theme/reset.scss';
@import './theme/variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html {
  height:100%; 
}

body {
  /**
   * Set global background-color (default).
   * This is necessary for mobile version. Otherwise mobile default is black.
   */
  background-color: $background-color;
}

@media (min-width: 576px) {
  .body-web {
    height:100%;
  }
}