@import './theme/reset.scss';
@import './theme/variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


body {
  /**
   * Set global background-color (default).
   * This is necessary for mobile version. Otherwise mobile default is black.
   */
  background-color: $background-color;
}
