<div class="container" *ngFor="let a of auto">

  <h1>{{a.modelname}}</h1>
  <p>&nbsp;</p>

  <h2>{{a.type}}</h2>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="row">
    <div class="col-lg-6">
      <img class="img-responsive"
           src="{{a.image}}"
           alt="...">
    </div>
    <div class="col-lg-6">
      <h3>
        <i class="material-icons md-36">money</i> Preis: {{a.price}} €</h3>
      <hr>
      <h3>
        <i class="material-icons md-36">date_range</i> Erscheinungsjahr: {{a.pub_year}}
      </h3>
      <hr>
      <h3>
        <i class="material-icons md-36">fitness_center</i> Leistung: {{a.capacity}} kW</h3>
      <hr>
      <h3>
        <i class="material-icons md-36">battery_full</i> Reichweite: {{a.reach}} km
      </h3>
      <hr>

      <!--Bewertungen  -->
      <h3>
        <i class="material-icons md-36">stars</i> Bewertungen: <b>{{currentRate}}</b>

        <div class="mystars">
          <ngb-rating [(rate)]="currentRate" max="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index == 0">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </h3>
    </div>
  </div>


  <p>&nbsp;</p>


  <div class="text-center">
    <button class="btn btn-secondary " (click)="toggle()" id="bt">
      {{buttonName}}
    </button>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>


  <ng-container *ngIf="show">


    <h5>Merkmale:</h5>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4 class="abbr">Modell:</h4>
        <h4 class="abbr">Beschleunigung:</h4>
        <h4 class="abbr">Farbe:</h4>
        <h4 class="abbr">Gesamtgewicht:</h4>
        <h4 class="abbr">Höchstgeschwindigkeit:</h4>
        <h4 class="abbr">Laderaum in Litern:</h4>
        <h4 class="abbr">Leasingpreis:</h4>
        <h4 class="abbr">Leergewicht:</h4>
        <h4 class="abbr">max Drehmoment:</h4>
        <h4 class="abbr">Verbrauch:</h4>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>{{a.modelname}}</h4>
        <h4>{{a.acceleration}} s</h4>
        <h4>{{a.color}}</h4>
        <h4>{{a.weight_complete}} kg</h4>
        <h4>{{a.topSpeed}} km/h</h4>
        <h4>{{a.storage}} l</h4>
        <h4>{{a.leasing}} €</h4>
        <h4>{{a.weight_empty}} kg</h4>
        <h4>{{a.max_torque}} Nm</h4>
        <h4>{{a.consumption}} kWh</h4>

      </div>
    </div>

    <hr>

    <h5>Ausstattung:</h5>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4>Batterieart:</h4>
        <h4>Batteriekapazität:</h4>
        <h4>Fensterheber:</h4>
        <h4>Klimaanlage:</h4>
        <h4>Parkhilfe:</h4>
        <h4>Reifendrucksensor:</h4>
        <h4>Rekuperation:</h4>
        <h4>Stecker:</h4>

      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>{{a.battery_type}}</h4>
        <h4>{{a.battery_capacity}} Ah</h4>


        <h4 *ngIf="a.window_lifter; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.airCon; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.parkinghelp; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.tirepressure_sensor; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.recuperation; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-25 rot">close</i>
          </h4>
        </ng-template>

        <h4>{{a.plug}}</h4>

      </div>
    </div>

    <hr>

    <h5>Innenausstattung:</h5>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4>Sitze:</h4>
        <h4>Sitzheizung:</h4>
        <h4>Sitzmaterial:</h4>
        <h4>Verkleidungsmaterial:</h4>

      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h4>{{a.seats}}</h4>


        <h4 *ngIf="a.seat_radiator; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


        <h4>{{a.seat_material}}</h4>
        <h4>{{a.paneling_material}}</h4>
      </div>
    </div>

    <hr>

    <h5>Unterhaltung/Medien:</h5>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4>Bluetooth:</h4>
        <h4>Bordcomputer:</h4>
        <h4>Navi:</h4>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4 *ngIf="a.bluetooth; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.board_computer; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


        <h4 *ngIf="a.nav; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


      </div>
    </div>

    <hr>

    <h5>Extras:</h5>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4>Autoparkfunktion: </h4>
        <h4>Spurhalter:</h4>
        <h4>Tempomat:</h4>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4 *ngIf="a.automatic_parking; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.lane_assistant; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>

        <h4 *ngIf="a.cruisecontrol; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


      </div>
    </div>

    <hr>

    <h5>Sicherheit:</h5>

    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4>ABS: </h4>
        <h4>Beifahrerairbag:</h4>

      </div>


      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <h4 *ngIf="a.abs; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


        <h4 *ngIf="a.codriver_airbag; else elseBlock">
          <i class="material-icons md-24 grun">check</i>
        </h4>

        <ng-template #elseBlock>
          <h4>
            <i class="material-icons md-24 rot">close</i>
          </h4>
        </ng-template>


      </div>
    </div>

    <hr>

  </ng-container>
</div>
