<div class="container">
  <div class="row" *ngIf="autos">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let auto of autos">

      <div class="thumbnail text-center">
        <div class="img-container">
          <a routerLink="/auto/{{auto.id}}"> <img [src]="auto.image" class=" img-responsive" alt="Thumbnail Image {{auto.modelname}}"></a>
        </div>

        <hr>

        <div class="caption">
          <div style="width: 100%; margin: fill;">
            <div class="mytooltip">
              <a routerLink="/auto/{{auto.id}}">   <h1><abbr>{{auto.modelname}}</abbr></h1> </a>
              <span class="tooltiptext">{{auto.modelname}}</span>
            </div>
          </div>
        </div>

        <hr>
        <div>
          <h2>Leistung: {{auto.capacity}} kW</h2>
          <h2>Reichweite: {{auto.reach}} km</h2>
          <h2>Preis: {{auto.price}} €</h2>

          <hr>
          <!--Bewertungen -->
          <p>Bewertungen: <b>{{getRating(auto.id)}}</b></p>
          <ngb-rating [(rate)]="ratings[auto.id].ratingAverage">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index == 0">&#9733;</span>
            </ng-template>
          </ngb-rating> 
          <hr>
          <p class="text-center"><a routerLink="/auto/{{auto.id}}" class="btn btn-success" role="button">Details</a></p>

          <p>&nbsp;</p>

        </div>
      </div>
    </div>
  </div>
</div>
