caption {
  float: left;
  width: 33.33%;
  padding: 10px;
}

h1 {
  color: grey;
  font-size: 2.5em;
  text-align: center;
}


h2 {
  color: lightslategrey;
  font-size: 1.0em;
  text-align: left;
  padding: 10px;
}


img {
  width: 90%;
  padding: 10px;
}

p {
  color: slategrey;
  font-size: 1.5em;
  text-align: center;
}

.star {
  font-size: 3rem;
  color: #b0c4de;
}
.filled {
  color: #ffe700;
}

