<div class="container">
  <div class="row" *ngIf="autos">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let auto of autos">

      <div class="thumbnail text-center">
        <div class="img-container">
          <img [src]="auto.image" class=" img-responsive" alt="Thumbnail Image {{auto.modelname}}">
        </div>

        <hr>

        <div class="caption">
          <div style="width: 100%;   margin: fill;">
            <h1 > <abbr>{{auto.modelname}} </abbr> </h1>
          </div>
        </div>

        <hr>
        <div>
          <h2>Leistung in kW: {{auto.capacity}}</h2>
          <h2>Reichweite in Km: {{auto.reach}}</h2>
          <h2>Preis in €: {{auto.price}}</h2>

          <hr>
          <!--Bewertungen
          <p>Bewertungen: <b>{{currentRate}}</b></p>
          <ngb-rating [(rate)]="currentRate" max="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index == 0">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr>
          <p class="text-center"><a href="#" class="btn btn-success" role="button">Details</a></p>

        -->

        </div>
      </div>
    </div>
  </div>
</div>
