caption {
  float: left;
  width: 33.33%;
  padding: 10px;
}

h1 {
  color: grey;
  font-size: 2.0em;
  text-align: center;
  white-space: nowrap;
}


h2 {
  color: lightslategrey;
  font-size: 1.0em;
  text-align: left;
  padding: 10px;
}


img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
}

p {
  color: slategrey;
  font-size: 1.5em;
  text-align: center;
}

.star {
  font-size: 2rem;
  color: #b0c4de;
}

.filled {
  color: #ffe700;
}

.img-container {
  height: 200px;
  width: 100%;
}

abbr {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.mytooltip {
  position: relative;

  .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 100%;  // At the top of the tooltip
    left: 0%;

    // Position the tooltip
    position: absolute;
    z-index: 1;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
