caption {
  float: left;
  width: 33.33%;
  padding: 10px;
}

h1 {
  color: grey;
  font-size: 2.5em;
  text-align: center;
}


img {
  width: 90%;
  padding: 10px;
}

p {
  color: slategrey;
  font-size: 1.5em;
  text-align: center;
}
