.span-regist{
    width:7.5em;
}
.input-regist{
    height: 2.5em;
}
.menu-text-light{
    color: #f5f5f5;
}
.menu-text-dark{
    color: #666666;
}
.label-backgrnd-success-regist{
    background-color: #d4eddb;
}
.label-backgrnd-danger-regist{
    background-color: #f8d7da;
}