<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Elektroautos sind in aller Munde.</h1>
      <h1>Lohnt sich für mich ein Elektroauto?</h1>
      <h1>Welches ist für mich das Richtige?</h1>
    </div>
  </div>

  <!--Bilderkarussell -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--
         <ngb-carousel *ngIf="images">
           -->
        <ngb-carousel>

          <ng-template ngbSlide>
            <div class="col-xs-4 img-container"><a href="#1"><img
              src="./assets/autobilder/egolf.jpg"
              class="img-responsive"></a></div>

            <div class="col-xs-4 img-container"><a href="#1"><img
              src="./assets/autobilder/etron.jpg"
              class="img-responsive"></a></div>

            <div class="col-xs-4 img-container"><a href="#1"><img
              src="./assets/autobilder/reanualtzoe.jpg"
              class="img-responsive"></a></div>
          </ng-template>

          <ng-template ngbSlide>

            <div class="col-xs-4 img-container"><a href="#1">
              <img src="./assets/autobilder/hyundaiionic.jpg"
                   class="img-responsive"></a></div>

            <div class="col-xs-4 img-container"><a href="#1"><img
              src="./assets/autobilder/teslahero.jpg"
              class="img-responsive"></a></div>

            <div class="col-xs-4 img-container"><a href="#1"><img
              src="./assets/autobilder/twizy.jpg"
              class="img-responsive"></a></div>

            <!--
            <div class="col-xs-4"><a href="#1"><img [src]="images[5]"
                                                    class="img-responsive"></a></div>
                                                    -->
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<!--Filter
<div class="container">
  <div class="row" *ngIf="filters">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" *ngFor="let filter of filters">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{filter.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let item of filter.data">{{item}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="container">
  <div class="row" *ngIf="filters">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let filter of filters">
      <div ngbDropdown class="d-inline-block but">

        <select class="btn btn-secondary but" (input)="onChange(filter.id, $event.target.value)">

          <!-- Bitte auswählen Dialoge -->
          <option value="" *ngIf="filter.name == 'Preis'; else elseBlock">Bitte {{filter.name}} bis auswählen</option>
          <ng-template #elseBlock>
            <option value="">Bitte {{filter.name}} auswählen</option>
          </ng-template>

          <ng-container *ngFor="let item of filter.data">
            <!-- Inhalte für Hersteller, Erscheinungsjahr und Preis -->
            <option value="{{item.id}}" *ngIf="item.id != undefined; else other_content">
              {{item.value}}
            </option>
            <ng-template #other_content>
              <option>
                {{item}}
              </option>
            </ng-template>
          </ng-container>
        </select>

        <p>&nbsp;</p>

      </div>
    </div>
  </div>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>


<!--
<div class="container">
  <div class="row" *ngIf="filters">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" *ngFor="let filter of filters">
      <div ngbDropdown class="d-inline-block">


          <select  name="suche" [(ngModel)]="suche" (change)="onChange(filter.id, suche)">
            < !-- Inhalte für Hersteller, Erscheinungsjahr und Preis -- >
            <option *ngFor="let item of filter.data" value={{item}} >
              {{item}}
            </option>
          </select>

        </div>
     </div>0
    </div>
  </div>
-->

<!-- Suchen Button -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-secondary" (click)="process()">Suchen</button>
    </div>
  </div>
</div>
<p>&nbsp;</p>


<!-- Erweiterte Suche Button -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" onclick="location.href='/erweitertesuche';" class="btn btn-secondary">Erweiterte Suche</button>
    </div>
  </div>
</div>

<div *ngIf="filteredAutos">
  <app-autos [autos]="filteredAutos"></app-autos>
</div>
