.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.hr-menu{
    margin:0;
    padding:0;
}

.menu-container{
    margin:0;
    padding:1em 0 0 0;
}
.menu-bar{
    height: 3em;
    background-color: #666666;
}
.menu-text-light{
    color: #f5f5f5;
}
.menu-text-dark{
    color: #666666;
}
.menu-button-border{
    border: white;
}
.menu-web-button:hover{
    background-color: rgb(255, 255, 255);
    color: #666666;
}

.app-authName-card{
    background-color: #666666;
    color: rgb(255, 255, 255);
    height: 0.3em;
}

.h1-app{
    font-size: 1.3em;
}
a:link {
    text-decoration: none;
}