<!--only visible when window is bigger than sm=540px-->
<div class="d-none d-sm-block">
  <div class="pt-5 pb-5">
    <nav class="menu-bar d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a routerLink="/">
        <img src="{{logopath}}" width="150" height="150" class="d-inline-block align-top" alt="">
        </a>  
        <h1 class="menu-text-light">
          {{navtitle}}
        </h1>

        <ng-container *ngIf="navtitle!='Hauptseite'">
          <h1 class="menu-text-light ml-4 mr-1">
            |
          </h1>

          <a class="btn btn-outline-secondary menu-button-border menu-text-light menu-web-button" routerLink="/" role="button">
           Hauptseite
          </a>
        </ng-container>
        
      </div>

      <div *ngIf="!authUserId" class="btn-group mr-2" role="group">
        <a class="btn btn-outline-secondary menu-button-border menu-text-light menu-web-button" routerLink="/anmelden" role="button">
          Anmelden
        </a>
        <a class="btn btn-outline-secondary menu-button-border menu-text-light menu-web-button" routerLink="/registrieren" role="button">
          Registrieren
        </a>
      </div>
      <div *ngIf="authUserId">
        <div class="d-flex justify-content-between align-items-center">
          <div class="menu-text-light mr-2 menu-button-border">
            Hallo, {{authUserName}}
          </div>
          <div (click)="onAusloggen()">
            <a class="btn btn-outline-secondary menu-text-light menu-button-border menu-web-button mr-2" routerLink="/" (click)="onAusloggen()" role="button">
              Ausloggen
            </a> 
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<!--only visible when window is smaller than sm=540px-->
<div class="d-inline d-sm-none">
  <nav class="mt-4 d-flex justify-content-between align-items-center ">
    <a routerLink="/" (click)="isCollapsed = true">
      <img src="{{logopath}}" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
    <h1 class="h1-app menu-text-dark">
      {{navtitle}}
    </h1>  
    <button type="button" class="btn btn-outline-secondary d-flex justify-content-center" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <div *ngIf="isCollapsed == true" class="d-flex align-items-center justify-content-center">
        <i class="material-icons md-36">menu</i>
      </div>
      <div *ngIf="isCollapsed == false" class="d-flex align-items-center justify-content-center">
          <i class="material-icons md-36">cancel</i>
      </div>
    </button>
  </nav>
  <hr class="hr-menu">
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">

      <a *ngIf="navtitle!='Hauptseite'" routerLink="/">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Hauptseite
        </div>
      </a>

      <a *ngIf="!authUserId" routerLink="/anmelden" (click)="isCollapsed = true">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg card-size" >
          Anmelden
        </div>
      </a>
      
      <a *ngIf="!authUserId" routerLink="/registrieren" (click)="isCollapsed = true">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Registrieren
        </div>
      </a>
      
      <a *ngIf="authUserId">
        <hr class="hr-menu">
        <div class="card-body btn-lg app-authName-card d-flex align-items-center ">
          Hallo, {{authUserName}}
        </div>
      </a>

      <a *ngIf="navtitle!='Erweiterte Suche'" routerLink="/erweitertesuche">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Erweiterte Suche
        </div>
      </a>

      <a *ngIf="authUserId" routerLink="/" (click)="onAusloggen()">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Ausloggen
        </div>
      </a>
      
      <a routerLink="/kontakt" (click)="isCollapsed = true">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Kontakt
        </div>
      </a>
      
      <a routerLink="/impressum" (click)="isCollapsed = true">
        <hr class="hr-menu">
        <div class="card-body btn-outline-secondary btn-lg">
          Impressum
        </div>
      </a>
      
    </div>
  </div>
  <!--visible when...end-->
</div>
