.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.hr-menu{
    margin:0;
    padding:0;
}

.menu-container{
    margin:0;
    padding:1em 0 0 0;
}
/*
.menu-label{
    padding-top:5em;
}
*/
.menu-web{
    height: 3em;
    background-color: #666666;
}
.menu-web-text{
    color: #f5f5f5;
}
.menu-button-border{
    border: white;
}
.menu-web-button:hover{
    background-color: rgb(255, 255, 255);
    color: #666666;
}