<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Elektroautos sind in aller Munde.</h1>
      <h1>Lohnt sich für mich ein Elektroauto?</h1>
      <h1>Welches ist für mich das Richtige?</h1>
    </div>
  </div>

  <!--Bilderkarussell -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ngb-carousel *ngIf="images">

          <ng-template ngbSlide>
            <div class="col-xs-4"><a href="#1"><img [src]="images[0]"
                                                    class="img-responsive"></a></div>
            <div class="col-xs-4"><a href="#1"><img [src]="images[1]"
                                                    class="img-responsive"></a></div>
            <div class="col-xs-4"><a href="#1"><img [src]="images[2]"
                                                    class="img-responsive"></a></div>
          </ng-template>

          <ng-template ngbSlide>



            <div class="col-xs-4"><a href="#1"><img [src]="images[3]"
                                                    class="img-responsive"></a></div>
            <div class="col-xs-4"><a href="#1"><img [src]="images[4]"
                                                    class="img-responsive"></a></div>
            <div class="col-xs-4"><a href="#1"><img [src]="images[5]"
                                                    class="img-responsive"></a></div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<!--Filter -->
<div class="container">
  <div class="row" *ngIf="filters">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" *ngFor="let filter of filters">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{filter.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let item of filter.data">{{item}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Suchen Button -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-secondary">Suchen</button>
    </div>
  </div>
</div>

<p>&nbsp;</p>

<!-- Erweiterte Suche Button -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-secondary">Erweiterte Suche</button>
    </div>
  </div>
</div>

