// non-related styling:
body {
  background: #333;
  color: #ddd;
}

h1 {
  color: grey;
  font-size: 1.5em;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container {
  padding: 10px;
  float: left;
  width: 33.33%;
  height: 100%;
}
