// non-related styling:
body {
  background: #333;
  color: #ddd;
}

h1 {
  color: grey;
  font-size: 1.5em;
  text-align: center;
}

img {
  float: left;
  width: 33.33%;
  padding: 10px;
  heigth: 100%;

}
