

.menu-web-text{
    color: #f5f5f5;
}
.menu-button-border{
    border: white;
}
.menu-web-button:hover{
    background-color: rgb(255, 255, 255);
    color: #666666;
}



#footer {
    bottom: 0px;
    position: absolute;
    background-color: #666666;
    width:97%;
    //text-align: right;                
}

#footer, .push {
    height: 42px;
}