body {
  background: #333;
  color: #ddd;
}

h1 {
  color: grey;
  font-size: 2.5em;
  text-align: left;
}


.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.form-check-label {
  font-size: 2em;
}
