<div class="container">
  <h1>Erweiterte Suche:</h1>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
  <div class="row" *ngIf="filters">

    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let filter of filters" [ngSwitch]="filter.type">

      <div *ngSwitchCase="1">
        <app-dropdown *ngSwitchCase="1" [dropdown]="filter"></app-dropdown>
      </div>


      <div *ngSwitchCase="2">
        <app-checkbox [checkbox]="filter"></app-checkbox>
      </div>


      <div *ngSwitchCase="3">
        <app-schieberegler *ngSwitchCase="3" [schieberegler]="filter"></app-schieberegler>
      </div>

      <div *ngSwitchCase="4">
        <app-zahleingabe *ngSwitchCase="5" [zahleingabe]="filter"></app-zahleingabe>
      </div>

      <div *ngSwitchDefault>
        <span>Kein bekannter Filter</span>
      </div>
    </div>
  </div>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Suchen Button -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-secondary" (click)="process()">Suchen</button>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div *ngIf="filteredAutos">
  <app-autos [autos]="filteredAutos"></app-autos>
</div>

